.about {
  padding: 50px 20px;
  background-color: transparent;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about h2 {
  font-size: 2.5rem;
  margin-bottom: 100px;
  color: lightgray;
}

.about p {
  font-size: 1.2rem;
  color: lightgray;
  line-height: 1.8;
  max-width: 800px;
  margin: 0 auto;
}
