.contact {
  padding: 50px 20px;
  background-color: transparent;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact h2 {
  font-size: 2.5rem;
  margin-bottom: 100px;
  color: lightgray;
}

.contact p {
  color: lightgray;
  margin: 10px 0;
  font-size: 1.5rem;
}

.contact a {
  color: #007bff;
  text-decoration: none;
  margin-left: 15px;
}

.contact p strong {
  margin-left: 15px;
}

.contact a:hover {
  text-decoration: underline;
}

.icon-contact {
  color: lightgray;
  font-size: 2rem;
}

.download-cv-button {
  padding: 10px 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 2rem;
}

.download-cv-button:hover {
  background-color: darkgray;
}

.icon-download {
  margin-right: 8px;
}

@media (prefers-color-scheme: light) {
  .contact h2 {
    color: black;
  }

  .contact p strong {
    color: black;
  }

  .icon-contact {
    color: black;
  }

  .download-cv-button {
    color: black;
    border: 1px solid black;
  }

  .download-cv-button:hover {
    background-color: lightgray;
  }
}
