.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}

.main h1 {
  font-size: 5rem;
  color: whitesmoke;
}

.main p {
  margin-left: 0;
  align-self: center;
  font-size: 1.5rem;
  color: lightgray;
}

.arrow {
  margin-top: 20px;
  cursor: pointer;
  transition: transform 0.3s;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.fade-in {
  opacity: 1;
}

.arrow:hover {
  transition: transform 0.3s;
  transform: translateY(5px);
}
