.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}

.main h1 {
  font-size: 5rem;
  color: whitesmoke;
}

.main p {
  align-self: center;
  font-size: 1.5rem;
  color: lightgray;
}

.arrow {
  margin-top: 400px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease-in;
  animation: moveUpDown 2s ease-in-out infinite;
}

.fade-in {
  opacity: 1;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.arrow:hover {
  transform: translateY(5px);
  animation: none;
}
